body {
	background-color: pink;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 6%;
	margin: -10px;
	justify-content: flex-end;
	background-color: #FCE4EC;
}

.nav-btn {
	margin: 1rem;
	width: auto;
	height: 35px;
	font-size: 1rem;
	margin-right: 2rem;
}

.nav-user {
	font-size: 1.5rem;
	margin: 1.2rem;
}

h1 {
	margin: 2rem;
	font-size: 2.5rem;
}

.guess-wrap {
	width: 60vw;
	height: 80vh;
	border:1px solid white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.words-list {
	font: 1em sans-serif;
	margin: 15px;
}

.words-list > p {
	font-size: 1.2rem;
	text-align: center;
}

.guess-card {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2%;
}

input {
	height: 40px;
	margin: 15px;
}

.guess-submit {
	height: 40px;
	font-size: 1.2rem;
	margin: 15px;;
}

.status {
	font-size: 1.5rem;
	color: darkred;
}

.score {
	font-size: 1.5rem;
}